<aside class="sidebar closed" id="sidebar">
  <div class="sidebar-menu">

    <button id="view-users">
      <i class="fa-solid fa-users"></i>
      <span>View Users</span>
    </button>

    <button id="orders-button">
      <i class="fa-solid fa-box"></i>
      <span>View User Orders</span>
    </button>

    <button id="add-category-btn">
      <i class="fa-solid fa-folder-plus"></i>
      <span>Add Category</span>
    </button>

    <button id="add-subcategory">
      <i class="fa-solid fa-folder-tree"></i>
      <span>Add Subcategory</span>
    </button>

    <button id="edit-category-btn">
      <i class="fa-solid fa-pen-to-square"></i>
      <span>Edit Category</span>
    </button>

    <button id="edit-subcategory-btn">
      <i class="fa-solid fa-pen"></i>
      <span>Edit Subcategory</span>
    </button>

    <button id="view-products">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>View Products</span>
    </button>

  </div>
</aside>