<aside class="sidebar closed" id="sidebar">
  <div class="sidebar-menu">

    <button id="view-users">
      <i class="fa-solid fa-users"></i>
      <span>View Users</span>
    </button>

    <button id="orders-button">
      <i class="fa-solid fa-box"></i>
      <span>View User Orders</span>
    </button>

    <button onclick="location.href='/admin/categories'">
      <i class="fa-solid fa-layer-group"></i>
      <span>Manage Categories</span>
    </button>
    <button id="view-products">
      <i class="fa-solid fa-cart-shopping"></i>
      <span>View Products</span>
    </button>

  </div>
</aside>