<aside class="sidebar closed">
  <button id="add-product"><i class="fa-solid fa-plus"></i><span>Add Product</span></button>
  <button id="sold-products-btn"><i class="fa-solid fa-chart-line"></i><span>Order History</span></button>

  <button id="view-profile">
      <i class="fa-solid fa-user"></i> View Profile
    </button>
</aside>