<aside class="sidebar" id="sidebar">
  <div class="sidebar-menu">
    <button id="view-orders">
      <i class="fa-solid fa-box"></i> View Orders
    </button>

    <button id="view-cart">
      <i class="fa-solid fa-cart-shopping"></i> View Cart
    </button>

    <button id="view-profile">
      <i class="fa-solid fa-user"></i> View Profile
    </button>
  </div>
</aside>