<header class="top-header">
  <div class="left-header">
    <i class="fa-solid fa-bars" id="menu-toggle"></i>
    <i class="fa-solid fa-cart-shopping"></i>
    <span class="site-name">ExpressMart</span>
  </div>
  <div class="header-right">
    <button id="logout-btn"> <i class="fa-solid fa-right-from-bracket"></i> Logout</button>
    <div id="profile-button" class="profile-circle">
      <span id="profile-initial"></span>
    </div>
  </div>
</header>
