<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Cart</title>
    <link rel="stylesheet" href="/css/cart.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="header">
      <button id="back-btn"><i class="fa-solid fa-arrow-left"></i></button>
      <div id="heading">
        <i class="fa-solid fa-cart-shopping"></i> Your Cart
      </div>
    </div>

    <div class="cart-layout">
      <div class="cart-table-wrapper">
        <div class="cart-table-header">
          <span>Product</span>
          <span>Price</span>
          <span>Quantity</span>
          <span>Actions</span>
        </div>
        <div id="cart-container"></div>
      </div>
      <div id="total-bill"></div>
    </div>

    <script src="/jsExpress/cart.js"></script>
  </body>
</html>
