<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="stylesheet" href="/css/adminCategories.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<body>
    <header class="top-header">
    <button onclick="window.location.href='/admin'" class="back-btn"><i class="fa-solid fa-arrow-left"></i></button>
    <h2>Categories</h2>
    <div></div>
</header>

<div class="container">

    <div class="actions">
        <button id="add-category-btn" class="primary-btn">
            + Add New Category
        </button>
    </div>

    <div class="table-wrapper">
        <table>
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Edit</th>
                    <th>Manage Subcategories</th>
                </tr>
            </thead>
            <tbody>
                <% categories.forEach(cat=>{ %>
                    <tr>
                        <td class="cat-name"><%= cat.name %></td>
                        <td>
                            <button class="edit-category"
                                data-id="<%= cat._id %>"
                                data-name="<%= cat.name %>">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </button>
                        </td>
                        <td>
                            <a class="link-btn"
                               href="/admin/categories/<%= cat._id %>/subcategories">
                                <i class="fa-solid fa-gear"></i>
                            </a>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>

</div>
    <script src="/jsExpress/adminCategories.js"></script>
</body>
</html>