<html>
  <head>
    <link rel="stylesheet" href="/css/page.css" />
  </head>
  <body>
    <div class="main-container">
      <div class="section">
        <h2>Already have an account?</h2>
        <button id="login" class="container" onclick="goToPageLogin()">
          Login
        </button>
      </div>
      <div class="section">
        <h2>Don't have an account?</h2>
        <button id="signup" class="container" onclick="goToPageSignUp()">
          SignUp
        </button>
      </div>
    </div>
    <script src="/jsExpress/loginSignup.js"></script>
  </body>
</html>
