<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Signup</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/signup.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body>
    <div class="signup-wrapper">
      <div class="signup-image">
        <img
      src="https://img.freepik.com/premium-photo/ecommerce-market-shopping-online-vector-illustration_776674-1060954.jpg?w=1480"
      alt="image"
    />
      </div>
    <div class="signup-container">
      <h1 class="heading">Signup</h1>

      <form id="signupForm">
        <label for="sname">Username</label>
        <input
          type="text"
          id="sname"
          name="sname"
          placeholder="Enter your username"
        />

        <label for="semail">Email</label>
        <input
          type="email"
          id="semail"
          name="semail"
          placeholder="Enter your email"
        />

        <label for="spass">Password</label>
        <input
          type="password"
          id="spass"
          name="spass"
          placeholder="Enter your password"
        />

        <label for="sphone">Phone</label>
        <input
          type="text"
          id="sphone"
          name="sphone"
          placeholder="Enter phone number"
        />

        <label for="saddress">Address</label>
    <input id="saddress" name="saddress" placeholder="Enter address"/>

        <label>Select Role: </label>
        <div class="role-btn">
          <button class="role">User</button>
          <button class="role">Seller</button>
          <button class="role">Transporter</button>
        </div>

        <div id="extraFields" class="extra-fields">

  <div class="field-group" id="gstGroup">
    <label for="gstNo">GST Number</label>
    <input id="gstNo" name="gstNo" placeholder="Enter GST Number" />
  </div>

  <div class="field-group" id="vehicleGroup">
    <label for="vehicleNo">Vehicle Number</label>
    <input id="vehicleNo" name="vehicleNo" placeholder="Enter Vehicle Number" />
  </div>
</div>
        <button type="submit" id="submitBtn">Send OTP</button>
      </form>
      </div>
    <script src="/jsExpress/signupScript.js"></script>
  </body>
</html>
