<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wait for Approval</title>
    <link rel="stylesheet" href="/css/wait-approval.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>
  <body>
    <div class="approval-container">
      <i class="fa-solid fa-clock approval-icon"></i>
      <h2>Waiting for Admin Approval</h2>
      <p>Your profile is under review.</p>
      <p>Please wait until admin approves your account.</p>
    </div>
  </body>
</html>