body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: Arial, sans-serif;
  background: #f5f5f5;
}

.header {
  background: white;
  padding: 5px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 20;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.header-buttons button {
  padding: 8px 14px;
  margin-left: 10px;
  border: none;
  background: #5481c5;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.page-wrapper {
  display: flex;
  width: 100%;
}

.left-section {
  width: 75%;
  padding: 20px;
}

.right-section {
  width: 25%;
  background: white;
  padding: 20px;
  height: 80vh;
  overflow-y: auto;
  position: sticky;
  top: 70px;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
}

.cart-btn {
  width: 100%;
  padding: 7px;
  background: #5481c5;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 15px;
}

.search-container {
  width: 90%;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.search-form {
  display: flex;
  gap: 10px;
}

.search-form input {
  flex: 1;
  padding: 10px;
  border: 1px solid #bbb;
  border-radius: 6px;
}

.search-form button {
  padding: 10px 15px;
  background: #4e7ea8;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

.view-all-btn {
  padding: 10px 15px;
  background: #4e7ea8;
  border: none;
  color: white !important;
  text-decoration: none;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 22px;
}

.product-card {
  background: white;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}

.product-card img {
  width: 140px;
  height: 140px;
  object-fit: contain;
  border-radius: 8px;
}

.product-card button {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}

.add-to-cart {
  background: #5481c5;
  color: white;
}

.buy-now {
  background: #c74855;
  color: white;
}

.qty-btn{
  background-color: #5481c5;
  color: white;
  border: 1px solid #5481c5;
}

@media (max-width: 1100px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .page-wrapper {
    flex-direction: column;
  }

  .left-section {
    width: 100%;
  }

  .right-section {
    width: 100%;
    position: relative;
    height: auto;
  }

  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .product-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .search-form {
    flex-direction: column;
  }

  .search-form button,
  .view-all-btn {
    width: 100%;
  }
}
