body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
  background: linear-gradient(135deg, lavender);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-wrapper {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  padding: 20px;
}

.login-image img {
  width: 420px;
  height:600px;
  object-fit: cover;
  box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}

.login-container {
  background-color: #fff;
  padding: 40px 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 520px;
  max-width: 400px;
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  font-size: 32px;
  color: #222;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  font-size: 16px;
  margin-top: 15px;
  text-align: left;
  color: #555;
  font-weight: 600;
}

.show-pass {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 12px;
  justify-content: flex-start;
}

.show-pass label {
  margin: 0;
  font-size: 15px;
  font-weight: 600;
  color: #555;
  cursor: pointer;
}

.show-pass input[type="checkbox"] {
  width: auto;
  cursor: pointer;
}

input {
  padding: 12px 10px;
  font-size: 16px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ccc;
  outline: none;
  transition: 0.3s;
}

input:hover {

  border-color: lavender;
}

input:focus {
  border-color: lavender;
  box-shadow: 0 0 8px lavender;
}

button {
  background-color: #5481c5;
  color: white;
  font-size: 18px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 12px;
  margin-top: 25px;
  transition: 0.3s ease;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

button:hover {
  transform: scale(1.03);
  box-shadow: 0 6px 16px rgba(0,0,0,0.15);
}

.forgot-text {
  margin-top: 15px;
}

.forgot-text a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.forgot-text a:hover {
  text-decoration: underline;
}

#forgotForm {
  display: none;
  flex-direction: column;
  margin-top: 20px;
}

#otpInputBox {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .login-container {
    padding: 30px 20px;
  }

  .heading {
    font-size: 28px;
  }

  input, button {
    font-size: 16px;
  }
}
